<section class="hero">
  <div class="overlay"></div>

  <div class="content">

    <!-- MENSAGEM ACIMA DO TÍTULO -->
    <div class="lote-info">
      <strong>ATENÇÃO:</strong> Informamos que a entrega de sementes para o plantio de 2026 termina no dia <strong>06/03/2026</strong>.
       A partir desta data, a SDE iniciará o planejamento das fases futuras. Embora o cadastro continue disponível, as entregas só serão retomadas em uma nova etapa, a ser comunicada oportunamente. Favor aguardar nosso contato.
    </div>

    <h1>
      Programa Estadual de Fortalecimento e Revitalização da
      Cotonicultura no Ceará
    </h1>

    <p>
      Participe da iniciativa que impulsiona o desenvolvimento sustentável
      e fortalece a produção agrícola no estado.
    </p>

    <button class="btn-cta" routerLink="/cadastroagricultor">
      Cadastre-se aqui
    </button>

  </div>
</section>
