<div class="dashboard">

  <!-- CARDS -->
  <div class="cards">
    <div class="card">Total Agricultores<br><strong>{{ totalAgricultores }}</strong></div>
    <div class="card">Atendidos<br><strong>{{ agricultoresAtendidos }}</strong></div>
    <div class="card">Sementes Distribuídas<br><strong>{{ totalSementes }}</strong></div>
  </div>

  <!-- CONTEÚDO PRINCIPAL -->
  <div class="content">

    <!-- MAPA -->
    <div class="map-container">
      <h4 class="map-title">Distribuição de Sementes por Município – Ceará</h4>
      <div id="mapa-ceara" class="mapa"></div>
    </div>

    <!-- GRÁFICOS -->
    <div class="charts-container">

      <div class="chart-card">
        <apx-chart
          [series]="cultivoChart.series!"
          [chart]="cultivoChart.chart!"
          [labels]="cultivoChart.labels!"
          [title]="cultivoChart.title!"
          [responsive]="cultivoChart.responsive!">
        </apx-chart>
      </div>

      <div class="chart-card">
        <apx-chart
          [series]="regiaoChart.series!"
          [chart]="regiaoChart.chart!"
          [title]="regiaoChart.title!"
          [xaxis]="regiaoChart.xaxis!">
        </apx-chart>
      </div>

      <div class="chart-card">
        <apx-chart
          [series]="farmersMunicipioChart.series!"
          [chart]="farmersMunicipioChart.chart!"
          [labels]="farmersMunicipioChart.labels!"
          [title]="farmersMunicipioChart.title!"
          [responsive]="farmersMunicipioChart.responsive!">
        </apx-chart>
      </div>

      <div class="chart-card">
        <apx-chart
          [series]="regiaoSementesChart.series!"
          [chart]="regiaoSementesChart.chart!"
          [title]="regiaoSementesChart.title!"
          [xaxis]="regiaoSementesChart.xaxis!">
        </apx-chart>
      </div>

    </div>
  </div>

</div>

