<section class="user-section">

  <div class="container empty-state text-center" *ngIf="lista_farmers.length === 0">
    <div class="empty-card">
      <img src="assets/icons/farm.png" alt="Sem dados" class="empty-icon">
      <h3>Agricultor não Cadastrado</h3>
      <p>Atualmente não há registros de Agricultores cadastrados no programa.</p>
      <!-- <button class="btn btn-primary mt-3" (click)="retorno()">
        Voltar
      </button> -->
    </div>
  </div>

  <div class="container" *ngIf="lista_farmers.length > 0">

    <!-- Cabeçalho -->
    <div class="cabecalho text-white py-3 mb-4 rounded shadow-sm">
      <h3 class="text-center text-uppercase m-0">Agricultores Cadastrados</h3>
    </div>

    <form [formGroup]="formFiltro" class="row g-2 align-items-end mb-3">

      <div class="col-lg-4 col-md-6 col-sm-12">
        <input type="text" class="form-control shadow-sm" placeholder="🔍 Pesquisar por Nome ou Email..."
          formControlName="nome" (keyup)="filtrarUsuarios()" />
      </div>

      <div class="col-lg-2 col-md-6 col-sm-6">
        <select class="form-select shadow-sm" formControlName="cidade" (change)="filtrarUsuarios()">
          <option value="">Cidade</option>
          <option *ngFor="let c of lista_cidade" [value]="c.nome_municipio">
            {{ c.nome_municipio }}
          </option>
        </select>
      </div>

      <div class="col-lg-2 col-md-6 col-sm-6">
        <select class="form-select shadow-sm" formControlName="regiao" (change)="filtrarUsuarios()">
          <option value="">Região</option>
          <option *ngFor="let r of lista_regiao" [value]="r.nome">
            {{ r.nome }}
          </option>
        </select>
      </div>

      <div class="col-lg-2 col-md-6 col-sm-6">
        <select class="form-select shadow-sm" formControlName="pedidoAtendido" (change)="filtrarUsuarios()">
          <option value="">Pedido Atendido</option>
          <option [ngValue]="true">Sim</option>
          <option [ngValue]="false">Não</option>
        </select>
      </div>

      <!-- Botões com mesma altura dos selects -->
      <div class="col-lg-2 col-md-12 col-sm-12">
        <div class="d-flex gap-2">
          <button type="button" class="btn btn-success btn-form w-100" (click)="limparFiltros()">
            Exibir todos
          </button>

          <div class="btn-group w-100">
            <button type="button" [disabled]="profile_id === 2 || profile_id === 4" class="btn btn-outline-primary btn-form dropdown-toggle" data-bs-toggle="dropdown">
              Exportar
            </button>
            <ul class="dropdown-menu">
              <li>
                <button class="dropdown-item" (click)="exportarPlanilha('todos')">
                  Todos os agricultores
                </button>
              </li>
              <li>
                <button class="dropdown-item" [disabled]="!filtroFarmers" (click)="exportarPlanilha('filtrados')">
                  Agricultores filtrados
                </button>
              </li>
            </ul>
          </div>

        </div>
      </div>

    </form>


    <!-- Tabela -->
    <div class="table-responsive shadow-sm rounded">
      <table class="table table-striped table-hover align-middle">
        <thead class="table-primary">
          <tr>
            <th class="text-center">Nome Completo</th>
            <th class="text-center">Telefone</th>
            <th class="text-center">Foi Atendido?</th>
            <th class="text-center">Município</th>
            <th class="text-center">Região</th>
            <th class="text-center" colspan="4">Ações</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let farmer of lista_filtrada | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
            <td>{{ farmer.nome }}</td>
            <td class="text-center">{{ farmer.telefone }}</td>
            <td class="text-center">
              <i *ngIf="farmer.pedido_atendido" class="bi bi-check-circle-fill text-success fs-5"></i>
              <i *ngIf="!farmer.pedido_atendido" class="bi bi-x-circle-fill text-danger fs-5"></i>
            </td>
            <td class="text-center">{{ farmer.ass_produtor_rural_cidade?.nome_municipio }}</td>
            <td class="text-center">{{ farmer.ass_produtor_rural_cidade?.ass_municipio_regiao?.nome }}</td>

            <td class="text-center">
              <button class="btn btn-warning btn-sm" (click)="onEdit(farmer)" data-bs-toggle="modal"
                data-bs-target="#modalEdit">
                <i class="bi bi-pencil-square"></i>
              </button>
            </td>

            <td class="text-center" *ngIf="farmer.ass_agricultor_anexo.length <= 0">
              <button class="btn btn-info btn-sm" (click)="anexarArquivo(farmer.id)" title="Anexar Documentos">
                <i class="bi bi-file-earmark-excel-fill"></i>
              </button>
            </td>

            <td class="text-center" *ngIf="farmer.ass_agricultor_anexo.length > 0">
              <button class="btn btn-success btn-sm" (click)="getFile(farmer.id, 'comprovante_cpf_cnpj')"
                data-bs-toggle="modal" data-bs-target="#modalDocumento" title="CPF/CNPJ">
                <i class="bi bi-file-earmark-person-fill"></i>
              </button>
            </td>

            <td class="text-center" *ngIf="farmer.ass_agricultor_anexo.length > 0">
              <button class="btn btn-primary btn-sm" (click)="getFile(farmer.id, 'comprovante_residencia')"
                data-bs-toggle="modal" data-bs-target="#modalResidencia" title="Comprovante de Residência">
                <i class="bi bi-file-earmark-pdf-fill"></i>
              </button>
            </td>

            <td class="text-center">
              <button class="btn btn-danger btn-sm" [disabled]="profile_id !== 1 && profile_id !== 3"
                (click)="deletaFarmer(farmer)">
                <i class="bi bi-trash-fill"></i>
              </button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>

    <!-- Paginação -->
    <pagination-controls class="text-center mt-3" (pageChange)="page = $event"></pagination-controls>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="modalEditLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable mt-5">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalEditLabel">Editar Pedido - {{ numeroPedido}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formFarmer">

          <div class="row mt-4 mb-4">

            <div class="form-group col-sm-4 col-12 ">
              <div class="form-floating">
                <input type="text" id="nome" name="nome" placeholder="Nome completo" required formControlName="nome"
                  class="form-control" />
                <label class="form-label pergunta" for="nome">Nome do Agricultor</label>
              </div>
            </div>

            <div class="form-group col-sm-4 col-12 ">
              <div class="form-floating">
                <input type="text" id="telefone" name="telefone" placeholder="Telefone" required
                  formControlName="telefone" class="form-control" />
                <label class="form-label pergunta" for="telefone">Telefone</label>
              </div>
            </div>

            <div class="form-group col-sm-4 col-12 ">
              <div class="form-floating">
                <input type="text" id="cpf_cnpj" name="cpf_cnpj" placeholder="Digite o CPF/CNPJ" required
                  formControlName="cpf_cnpj" class="form-control" />
                <label class="form-label pergunta" for="cpf_cnpj">CPF/CNPJ</label>
              </div>
            </div>

          </div>
          <div class="row mt-4 mb-4">

            <div class="form-group col-sm-4 col-12 ">
              <div class="form-floating">
                <input type="text" id="rg" name="rg" placeholder="Nª Identidade" required formControlName="rg"
                  class="form-control" />
                <label class="form-label pergunta" for="rg">Identidade</label>
              </div>
            </div>

            <div class="form-group col-sm-4 col-12 ">
              <div class="form-floating">
                <input type="text" id="endereco" name="endereco" placeholder="Endereço" required
                  formControlName="endereco" class="form-control" />
                <label class="form-label pergunta" for="endereco">Endereço</label>
              </div>
            </div>

            <div class="form-floating col-sm-4 col-12 mb-2">
              <select name="cidade" id="cidade" class="form-select text-capitalize" formControlName="cidade" required>
                <option value="" disabled selected>Cidade</option>
                <option *ngFor="let city of lista_cidade" [value]="city.id">{{ city.nome_municipio }}</option>
              </select>
              <label class="form-label pergunta ms-3" for="mes">Cidade</label>
            </div>

          </div>
          <div class="row mt-4 mb-4">

            <div class="form-group col-sm-4 col-12 ">
              <div class="form-floating">
                <input type="text" id="nome_propriedade" name="nome_propriedade" placeholder="Nome da Propriedade"
                  required formControlName="nome_propriedade" class="form-control" />
                <label class="form-label pergunta" for="nome_propriedade">Nome da Propriedade</label>
              </div>
            </div>

            <div class="form-group col-sm-4 col-12 ">
              <div class="form-floating">
                <input type="text" id="ponto_referencia" name="ponto_referencia" placeholder="Ponto de Referência"
                  required formControlName="ponto_referencia" class="form-control" />
                <label class="form-label pergunta" for="ponto_referencia">Ponto de Referência</label>
              </div>
            </div>

            <div class="form-group col-sm-2 col-12 ">
              <div class="form-floating">
                <input type="number" id="area_total" name="area_total" placeholder="Área Total (ha)" required
                  formControlName="area_total" class="form-control" />
                <label class="form-label pergunta" for="area_total">Área Total (ha)</label>
              </div>
            </div>

            <div class="form-group col-sm-2 col-12 ">
              <div class="form-floating">
                <input type="number" id="area_algodao" name="area_algodao" placeholder="Área de Algodão (ha)" required
                  formControlName="area_algodao" class="form-control" />
                <label class="form-label pergunta" for="area_algodao">Área de Algodão (ha)</label>
              </div>
            </div>
          </div>

          <div class="row mt-4 mb-4">
            <div class="form-floating col-sm-3 col-12 mb-2">
              <select name="regime_cultivo" id="regime_cultivo" class="form-select text-capitalize"
                formControlName="regime_cultivo" required>
                <option value='irrigado'> Irrigado </option>
                <option value='sequeiro'> Sequeiro </option>
              </select>
              <label class="form-label pergunta ms-3" for="mes">Regime do Cultivo</label>
            </div>

            <div class="form-group col-sm-3 col-12 ">
              <div class="form-floating">
                <input type="text" id="cadastro_adagri" name="cadastro_adagri" placeholder="Cadastro da ADAGRI" required
                  formControlName="cadastro_adagri" class="form-control" />
                <label class="form-label pergunta" for="cadastro_adagri">Cadastro da ADAGRI</label>
              </div>
            </div>

            <div class="col-sm-3 col-12 mt-3">
              <div class="form-check form-switch">
                <label class="form-check-label" for="pedido_atendido">O Agricultor foi atendido?</label>
                <input type="checkbox" class="form-check-input" formControlName="pedido_atendido">

              </div>
            </div>

            <div class="form-group col-sm-3 col-12 ">
              <div class="form-floating">
                <input type="number" id="sementes_recebidas" name="sementes_recebidas"
                  placeholder="Sementes Recebidas (Kg)" required formControlName="sementes_recebidas"
                  class="form-control" />
                <label class="form-label pergunta" for="sementes_recebidas">Sementes Recebidas (Kg)</label>
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="updateFarmer()" [disabled]="profile_id !== 1 && profile_id !== 3"
          class="btn btn-warning">Update</button>
      </div>
    </div>
  </div>
</div>

<!--Modal editar documento-->
<div class="modal fade" id="modalDocumento" tabindex="-1" aria-labelledby="modalDocumentoLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable mt-5">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalDocumentoLabel">Atualizar CPF/CNPJ</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formAnexo">
          <div class="row">
            <div class="col-sm-12 col-12 mb-3">
              <label for="documento" class="form-label">Atualiza CPF/CNPJ</label>
              <input class="form-control" type="file" id="documento" name="documento" (change)="onFileChange($event)"
                required #atualizaAnexo>
            </div>
          </div>

          <div class="row">
            <div class="mt-2">
              <iframe class="mt-2" [src]="arquivoUrl" type="application/pdf" width="100%" height="1200px"></iframe>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="updateDocumento()" class="btn btn-warning">Update</button>
      </div>
    </div>
  </div>
</div>


<!--Modal editar comprovante-->
<div class="modal fade" id="modalResidencia" tabindex="-1" aria-labelledby="modalResidenciaLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable mt-5">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalResidenciaLabel">Atualizar Comprovante</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formAnexo">
          <div class="row">
            <div class="col-sm-12 col-12 mb-3">
              <label for="comprovante" class="form-label">Atualiza Comprovante</label>
              <input class="form-control" type="file" id="comprovante" name="comprovante"
                (change)="onFileChange($event)" required #atualizaAnexo>
            </div>
          </div>

          <div class="row">
            <div class="mt-2">
              <iframe class="mt-2" [src]="arquivoUrl" type="application/pdf" width="100%" height="1200px"></iframe>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="updateDocumento()" class="btn btn-warning">Update</button>
      </div>
    </div>
  </div>
</div>
